html, body{
	margin: 0px;
	padding: 0px;
}
.menu-m{
	display: none;
}
.menunho-m{
	display: none;
}
.menunho-m{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 10;
	margin-top: 50px;
	display: none;
}
.menunho-m a{
	text-decoration: none;
	color: #503123;
	font-family: 'Courier New';
}
.menunho-m a:hover{
	color: #339AF0;
}
.hien{
	display: block;
	animation: ad 0.5s forwards;
}
@keyframes ad{
	0%{
		transform: scale(0.85);
	}
	100%{
		transform: scale(1);
	}
}
.frm-m input[type=text]{
	height: 25px;
	padding: 1px;
	font-size: 8px;
	margin-top: 5px;
	width: 260px;
}
.frm-m input[type=submit]{
	position: absolute;
	width: 50px;
	font-size: 8px;
	margin-left: 3px;
	margin-top: 4.3px;
	height: 25px;
	padding: 0px;
	border: 0px;
	background: #503123;
	color: white;
}
.fashion{
	float: left;
	width: 100%;
	height: 1100px;
	background: #FBF8F1;
}
.fashion1{
	float: left;
	width: 100%;
	height: 750px;
	background: #FBF8F1;
}
.fashion2{
	float: left;
	width: 100%;
	height: 500px;
	background: #FBF8F1;
}
.fashion-m{
	display: none;
}
.fashion-m1{
	display: none;
}
.fashion-m2{
	display: none;
}
.fashion-right{
	padding-right: 0px;
	padding-left: 0px;
}
.fr-locsanpham{
	padding: 0px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.fr-locsanpham .col-xs-6{
	padding-left: 0px;
	padding-right: 0px;
	font-family: 'Courier New';
}
.fr-locsanpham .col-xs-6 select{
	width: 200px;
	border-radius: 4px;
}
/*-----------*/
.fashion-sp{
	cursor: pointer;
}
.fashion-sp img{
	transition: 0.5s;
}
.fashion-sp-img{
	overflow: hidden;
	box-sizing: border-box;
}
.fashion-sp:hover img{
	transform: scale(1.3);
}
.fashion-sp:hover .sp-in-gia{
	transform: translateY(-60px);
}
.fashion-sp:hover .sp-in-mh{
	transform: translateY(-70px);
}
.fashion-sp-if{
	width: 100%;
	height: 60px;
	font-family: 'Courier New';
	font-size: 13px;
	overflow: hidden;
	box-sizing: border-box;
}
.sp-in-gia{
	height: 60px;
	padding-top: 6px;
	transition: 0.5s;
}
.sp-in-mh{
	height: 60px;
	padding-top: 12px;
	margin-top: 10px;
	transition: 0.5s;
}
.sp-in-mh button{
	font-size: 11px;
}
.sotrang{
	float: left;
	width: 100%;
	height: 40px;
	padding-left: 370px;
}
.b1{
	float: left;
	width: 30px;
	margin-right: 10px;
	margin-top: 5px;
	padding: 4px;
}
.b2{
	float: left;
	margin-right: 10px;
	width: 30px;
	padding: 4px;
}
.b3{
	float: left;
	width:  30px;
	padding: 4px;
}
@media screen and (max-width: 1198.5px) {
	.fashion1{
		height: 620px;
	}
	.fashion{
		height: 900px;
	}
	.fashion2{
		height: 400px;
	}
	.sotrang{
		padding-left: 300px;
	}
}
@media screen and (max-width: 990px){
	.fashion1{
		height: 500px;
	}
	.fashion{
		height: 750px;
	}
	.fashion2{
		height: 300px;
	}
	.fr-locsanpham{
		font-size: 12px;
	}
	.sp-in-gia{
		font-size: 10px;
	}
	.sp-in-mh button{
		font-size: 9px;
		padding: 3px;
	}
	.sotrang{
		padding-left: 220px;
	}
}
@media screen and (max-width: 770px){
	.menu-m{
		display: block;
	}
	.fashion1{
		display: none;
	}
	.fashion2{
		display: none;
	}
	.fashion-m1{
		display: block;
		float: left;
		width: 100%;
		height: 500px;
	}
	.fashion-m2{
		display: block;
		float: left;
		width: 100%;
		height: 300px;
	}
	.fashion-left1{
		display: none;
	}
	.fashion{
		display: none;
	}
	.fashion-m{
		display: block;
		float: left;
		width: 100%;
		height: 750px;
	}
	.fr-locsanpham{
		font-size: 10px;
		padding-left: 13px;
		padding-right: 13px;
	}
	.fr-locsanpham .col-xs-6 select{
		width: 140px;
	}
	.fashion-sp{
		padding-left: 5px;
		padding-right: 5px;
	}
	.sp-in-gia{
		font-size: 9px;
	}
	.sotrang{
		padding-left: 180px;
	}
	.hm-m{
		margin-top: 10px;
		padding-left: 0px;
	}
	.hm-m-txt{
		font-size: 13px;
	}
	.hv-m{
		padding-left: 0px;
		border-bottom: 1px solid #DDDDDD;
		border-top: 1px solid #DDDDDD;
	}
	.hv-m a{
		text-decoration: none;
		font-size: 9px;
		color: #222222;
	}
	.hv-m a:hover{
		color: blue;
	}
}